/*Empty file for CSS*/
.page-header {
  background-color: #2aabd2;
  height: 100%;
  margin-bottom: 10px;
}

.page-title { 
  margin: 50px 0px 50px 0px;
  line-height: 100px;
  height: 100%;
}

.logo {
  float: left; 
  margin: 5px 5px 5px 5px;
  height: 100px;
  background: #2aabd2;
  background-color: #2aabd2;
  color: #2aabd2;
}

#header-text {
  font-size: 45px;
  margin-left: 15px;
  line-height: 100px;
  height: 100px;
  color: white;
}

#header-disclaimer {
  color: #419641;
  font-size: 18.72px;
}

#first-buttom {
  padding: 0px 43%;
}

#second-buttom {
  height: 250px;
  padding: 105px 40%;
}
